<h1>Lista de productos</h1>

<div id="productsList">
    
</div>

<div>
    <form id="create-product" action="">
        <input type="text" name="product-title" id="product-title">
        <label for="product-title">Nombre del producto</label>
        <input type="submit" value="Enviar">
    </form>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.min.js"></script>
<script src="js/script.js"></script>